#map {
   height: 100%;
   width: 50%;
   right: 0px;
   position:absolute;
}

#result {
   overflow-y: auto;
   width: 45%;
   height: 400px;
   border-top: 1px solid black;
}

#form {
  padding-top: 10px;
}
